html {
    overflow-y: hidden;
}

.loading {
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

.loading .loadingimg {
    position: absolute;
    width: 80vw;
    height: 90vh;
    opacity: 0;
    top: -30vh;
    background: url(../images/Black_Negative.png) no-repeat;
    background-size: contain;
    background-position: center;
    animation: moving 0.5s 0.1s linear forwards;
}

.loading .progressbar {
    position: absolute;
    width: 80vw;
    height: 1vh;
    background-color: #999;
    border-radius: 50px;
    left: 10vw;
    bottom: 10vh;
    opacity: 0;
    animation: moving3 0.1s 1s linear forwards;
    overflow-x: hidden;
}

.loading .progressbar div {
    width: 0%;
    height: 1vh;
    animation: moving2 0.3s 1s linear forwards;
    background-color: #fff;
}

@keyframes moving {
    from {}

    to {
        top: 0vh;
        opacity: 1;
    }
}

@keyframes moving2 {
    from {}

    to {
        width: 100%;
    }
}


@keyframes moving3 {
    from {}

    to {
        opacity: 1;
    }
}