@font-face {
    font-family: 'MapoAgape';
    src: url('../font/MapoAgape.woff') format('woff');
}

@font-face {
    font-family: 'MapoBackpacking';
    src: url('../font/MapoBackpacking.woff') format('woff');
}

@font-face {
    font-family: 'MapoDacapo';
    src: url('../font/MapoDacapo.woff') format('woff');
}

@font-face {
    font-family: 'MapoDPP';
    src: url('../font/MapoDPP.woff') format('woff');
}

@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('../font/MapoFlowerIsland.woff') format('woff');
}

@font-face {
    font-family: 'MapoGoldenPier';
    src: url('../font/MapoGoldenPier.woff') format('woff');
}

@font-face {
    font-family: 'MapoHongdaeFreedom';
    src: url('../font/MapoHongdaeFreedom.woff') format('woff');
}

@font-face {
    font-family: 'MapoMaponaru';
    src: url('../font/MapoMaponaru.woff') format('woff');
}

@font-face {
    font-family: 'MapoPeacefull';
    src: url('../font/MapoPeacefull.woff') format('woff');
}

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #fdfdfd;
    --bg2: #000;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --maposkyblue: #00AEEF;
    --maposkyblue1: #008ec2;
    --mapogray: #939598;
    --mapoblack: #000;
    --mapoblue: #005AAB;
    --mapobasic: #D09C48;
    --mapogreen: #71BF44;
    --mapoorange: #F36F21;
    --mapopink: #EC008C;
    --mapowhite: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-family: 'MapoDPP';
    font-size: 10px;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

/*  스크롤바 제어  */
html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background: black;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

section {
    padding: 2rem 7%;
    background: var(--bg);
}

/* 헤더 섹션 시작*/
.header {
    width: 100%;
    max-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1.5rem 2%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0 1rem #000;
    background: var(--bg2);

}

.header .logo img {
    width: 15rem;
}

.header .navbar {}

.header .navbar a {
    color: var(--mapowhite);
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 0 0.5rem;
    display: inline-block;
}

.header .navbar a:hover {
    background-color: rgba(0, 174, 239, 0.7);
    border-radius: 5px;
    color: var(--mapowhite);
    transform: scale(1.2);
}

.header .overlay_navbar {
    display: none;
}

.header .icons {
    color: var(--mapowhite);
    font-size: 4rem;
    display: none;
}

.header .icons #menu-btn {
    padding: 1rem;
}

.header .icons #menu-btn:hover {
    background-color: rgba(0, 174, 239, 0.7);
    border-radius: 5px;
    color: var(--mapowhite);
    transform: scale(1.2);
}

/* 헤더 섹션 끝*/


/* 홈 섹션  시작*/
.home {
    width: 100%;
    height: 100vh;
    padding: 0;
    position: relative;
    background: transparent;
}

.home .content .slidePanel .mySlides {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;
}

.home .content .slidePanel .mySlides h3 {
    font-size: 5rem;
    position: absolute;
    color: var(--mapowhite);
    text-shadow: -1px 0 2px var(--mapoblack), 0 1px 2px var(--mapoblack),
        1px 0 2px var(--mapoblack), 0 -1px 2px var(--mapoblack);
    padding: 2rem;
    bottom: 1rem;
}

.home .content .slidePanel .mySlides img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 0 0 50px 0px;
}


@keyframes fade_in_home_img {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

/* 홈 섹션  끝*/


/* 마청단? 섹션  시작*/
.about {
    width: 100%;
    padding-bottom: 8rem;
}

.about .heading {
    width: 100%;
    font-size: 9rem;
    text-align: center;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    border-bottom: 1rem solid transparent;
    border-image: linear-gradient(to right, white 0%, black 50%, white 100%);
    border-image-slice: 1;
}

.about .heading span {
    color: var(--maposkyblue);
}

.about .row {
    display: flex;
    background: var(--bg);
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;
    padding: 2rem 0;
    margin-right: 2.5%;
}

.about .row .image img {
    width: 100%;
    box-shadow: 0rem 0rem 0.5rem;
    border-radius: 15px;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem 0;
    margin-left: 2.5%;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.about .row .content h3 span {
    font-size: 3.5rem;
    color: var(--maposkyblue);
}

.about .row .content p {
    font-size: 2rem;
    color: #555;
    padding: 1.2rem 0;
    line-height: 1.8;
    word-break: keep-all;
}

/* 마청단? 섹션  끝*/


/* 인터뷰 섹션  시작*/
.interview {
    width: 100%;
}

.interview .heading {
    width: 100%;
    font-size: 9rem;
    text-align: center;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    border-bottom: 1rem solid transparent;
    border-image: linear-gradient(to right, white 0%, black 50%, white 100%);
    border-image-slice: 1;
}

.interview .box_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(40rem, 1fr));
    gap: 8rem 10rem;
    margin-top: 10rem;
}

.interview .box_container .box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
    min-height: 40rem;
    background-color: #eee;
}

.interview .box_container .box .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: 0.2s;
}

.interview .box_container .box .card:hover {
    box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.5);
}

.interview .box_container .box .card img {
    object-fit: cover;
    border-radius: 50%;
    width: 15rem;
    min-height: 15rem;
    position: absolute;
    top: -7rem;
    border: 1rem solid white;
}

.interview .box_container .box .card h3 {
    position: absolute;
    padding: 1rem;
    color: rgb(255, 203, 71);
    font-size: 2.5rem;
    bottom: 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.interview .box_container .box .card h3 span {
    color: #fff;
}

.interview .box_container .box .card p {
    position: absolute;
    padding: 9rem 4rem;
    color: #333;
    font-size: 1.5rem;
}

/* 인터뷰 섹션  끝*/



/* 프로젝트 섹션  시작*/
.project {
    width: 100%;
}

.project .heading {
    width: 100%;
    font-size: 9rem;
    text-align: center;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    border-bottom: 1rem solid transparent;
    border-image: linear-gradient(to right, white 0%, black 50%, white 100%);
    border-image-slice: 1;
}

.project .box_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(40rem, 1fr));
    gap: 8rem 8rem;
    margin-top: 5rem;
}

.project .box_container .box {
    width: 100%;
    text-align: center;
    transition: 0.2s;
}

.project .box_container .box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 1rem rgba(0, 174, 239, 0.7);
}

.project .box_container .box:active {
    transform: scale(1.0);
}

.project .box_container .box .card {
    height: 35rem;
}

.project .box_container .box .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project .box_container .box .content {
    padding: 1rem;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

/* 프로젝트 섹션  끝*/


/* 오시는길 섹션  시작*/
.location {
    width: 100%;
}

.location .heading {
    width: 100%;
    font-size: 9rem;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1rem solid transparent;
    border-image: linear-gradient(to right, white 0%, black 50%, white 100%);
    border-image-slice: 1;
}

.location .heading span {
    font-size: 9rem;
    color: var(--maposkyblue);
}

.location .container {
    display: flex;
    justify-content: center;
    height: 70rem;
    margin-top: 5rem;
}

.location .container #map {
    width: 47.5%;
    height: 100%;
    margin-right: 2.5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.location .container .info {
    width: 47.5%;
    height: 100%;
    margin-left: 2.5%;
    word-break: keep-all;

    display: grid;
    grid-template-columns: repeat(1, minmax(4rem, 1fr) 2fr);
    gap: 0.4rem;
}

.location .container .info p {
    border-bottom: 1px solid gray;
    font-size: 4rem;
    padding: 0.5rem;
    min-height: 40px;
}

.location .container .info .tbName {
    background: #ddd;
    min-height: 40px;
}

.location .container .info .content {
    display: flex;
    align-items: center;
    font-size: 2rem;
    min-height: 40px;
}

.location .container .info .content.transfer {
    background: #eee;
    font-size: 3rem;
}

.location .container .info #tag5 {
    grid-row: 3 / span 10;
}

.location .container .info #tag8 {
    grid-row: 5 / span 2;
}

.location .container .info #tag10 {
    grid-row: 8 / span 2;
}

.location .container .info #tag12 {
    grid-row: 11 / span 2;
}

.infoContent {
    font-size: 15px;
    padding: 5px;
    background-color: var(--mapowhite);
    border: 1px solid var(--mapogray);
}

/* 오시는길 섹션  끝*/

/* 풋터 섹션  시작*/
.footer {
    width: 100%;
    padding: 1.5rem 2%;
    background-color: var(--mapogray);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    width: 15rem;
    max-height: 10rem;
}

.footer .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-break: keep-all;
    text-align: center;
}

.footer .container .links {
    color: var(--mapowhite);
    margin-bottom: 0.5rem;
}

.footer .container .links a {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    text-decoration: none;
    color: var(--mapowhite);
}

.footer .container .links a:hover {

    display: inline-block;
    transform: scale(1.1);
}

.footer .container .address {
    font-size: 1.5rem;
    color: var(--mapowhite);
    margin-bottom: 0.5rem;
}

.footer .container .credit {
    font-size: 1.5rem;
    color: var(--mapowhite);
}

.footer .container .credit span {
    color: var(--mapobasic);
}

.footer .mapofont {
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 4.5rem;
}

.footer .mapofont div {
    color: var(--mapowhite);
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

/* 풋터 섹션  끝*/

/* 스크롤 맵위 버튼 시작 */
.goToHome #gotoHome-btn {
    position: fixed;
    right: 15px;
    bottom: 30px;
    color: var(--maposkyblue1);
    font-size: 3rem;
    font-weight: bold;
    padding: 2px 8px;
    border: 2px solid var(--maposkyblue1);
    background-color: var(--mapowhite);
    opacity: 0;
    text-align: center;
    font-family: 'MapoDPP';
    cursor: pointer;
    z-index: 10;
}

.goToHome #gotoHome-btn span {
    position: absolute;
    font-size: 1px;
    bottom: 0;
    left: 13px;
}

.goToHome #gotoHome-btn:hover {
    color: var(--mapowhite);
    background-color: var(--maposkyblue1);
}

@keyframes fade-in {
    from {}

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: unset;
    }

    to {
        opacity: 0;
    }
}

/* 스크롤 맵위 버튼 끝 */

/* 유튜브 플레이어 Modal */
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal #ytPlayer {
    /* position: absolute; */
    width: 50%;
    height: 50%;
    background: red;
    
}

/* 미디어 쿼리 */
@media (max-width : 768px) {
    /* ipad mini 기준  768px 1024px*/

    .location .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 1000px;
        margin-top: 0rem;
        /* border: 1px solid black; */
    }

    .location .container #map {
        width: 100%;
        height: 47.5%;
        margin-bottom: 2.5%;
    }

    .location .container .info {
        width: 100%;
        height: 47.5%;
        margin-top: 2.5%;
        word-break: keep-all;
        margin: 0;

        display: grid;
        grid-template-columns: repeat(1, minmax(4rem, 1fr) 2fr);
        gap: 0.4rem;
    }

    /* 스크롤 맵위 버튼 */
    .goToHome #gotoHome-btn:hover {
        color: var(--maposkyblue1);
        background-color: var(--mapowhite);
    }
}


@media (max-width : 540px) {
    /* surface duo 기준 540px 720px */

    html {
        font-size: 5.5px;
    }

    /* 헤드세션 */
    .header .icons {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        white-space: nowrap;
        height: calc(100vh - 9.5rem);
        transition: 0.2s;
        z-index: 1;
    }

    .header .overlay_navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .overlay_navbar.active {
        display: block;
    }

    .header .navbar a {
        color: var(--bg2);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 3rem;
        border-bottom: 1px solid var(--mapogray);
    }

    .header .navbar a:hover {
        color: var(--mapowhite);
        border-radius: 10px;
        background-color: var(--bg2);
        transform: scale(1.05);
    }

    /* 홈세션 */
    .home {
        height: 50vh;
    }

    .home .content .slidePanel .mySlides img {
        height: 50vh;
    }

    /* 프로젝트세션 */
    .project .box_container {
        gap: 4rem 5rem;
    }


    /* 지도세션 */
    .location .heading {
        font-size: 6rem;
    }

    .location .heading span {
        font-size: 6rem;
        color: var(--maposkyblue);
    }

    /* 풋터세션 */
    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        word-break: keep-all;
        text-align: center;
    }

    .footer .mapofont {
        width: 100%;
        height: 6.5rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .mapofont #selectfont {
        width: 25%;
    }

    /* 스크롤 맵위 버튼 */
    .goToHome #gotoHome-btn {
        padding: 4px 8px;
    }

    .goToHome #gotoHome-btn span {
        font-size: 1px;
        left: 8px;
    }

}