html {
    overflow: hidden;
}

.loading {
    position: fixed; 
    top: 0; 
    z-index: 2000; 
    width: 100%; 
    height: 100vh; 
    background-color: #000; 
    display: flex;
    justify-content: center;
    transition: 0.5s;
}
.loading img{
    position: absolute;
    width: 80vw; 
    height: 90vh; 
    opacity: 0;
    /* left: 10vw; */
    top: -30vh;
    object-fit: contain; 
    animation: moving 1s linear forwards;
}

.loading .progressbar{
    position: absolute;
    width: 0vw; 
    height: 1vh;
    background-color: #ddd;
    border-radius: 50px;
    left: 10vw;
    bottom: 10vh; 
    opacity: 1; 
    animation: moving2 3s 1s infinite linear forwards;
    overflow-x: hidden;
}

.loading .progressbar div{
    width: 100%; 
    height: 1vh;
    background-color: #fff;
}

@keyframes moving {
    from {
    }
    to {
        top: 0vh; 
        opacity: 1; 
    }
}

@keyframes moving2 {
    from{

    }
    to {
        width: 80vw; 
    }
}